@font-face {
   font-family:imported ;
   src: url(../../../font/Satoshi-Variable.ttf);
 }
 

.total{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 33vh;
    font-family:imported ;
}
.tpp{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
   
}
.password{
   padding: 5px 5px 0px 5px;
   background-color: rgb(84, 80, 80);
   border-radius: 50%;
   margin-left: 20px;
}
.btt{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 23vh;
    
    
}

.boat{
   
    display: flex;
    flex-direction: row;
    margin-left: 25px;
 }
 .bv img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
 }
 .boat1{
    display: flex;
    width: 20%;
    height: 20vh;
     flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

 }
 .bv1{
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-left: 10px;
     object-fit: cover;
    gap:5px;
 }
 .bv121{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
 }
 .backi{
    width: 100%;
    height: 22vh;
   background-image: url(../../../Images/Screen.png);
 }
 .bv{
    width: 100px;
    height: 100px;
    padding: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
 }
 .bv11{
    line-height: 30px;
 }
 .bv111{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
 }
 .social{
    padding: 5px 5px 3px 5px;
    background: #FFFFFF;
    border-radius: 4px;
 }
   
