@font-face {
  font-family:imported ;
  src: url(../font/Satoshi-Variable.ttf);
}
 .tac{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 86vh;
  background: linear-gradient(135deg, #EEEEEE 47.92%, #F6F6F6 60.42%, #EEEEEE 72.92%);
 }
 .cat{
  width:100%;
  height: 12vh;
 
 }
.yat{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 margin-right: 20px;
 margin-left: 20px;
 }
 .items{
  font-family:imported ;
 }
 .Id{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  
 }
.yan{
display: flex;
align-items: center;
justify-content: space-around;

width: 100%;
height: 50vh;
}
 @media screen and (max-width:600px){
  .tac{
    height: 80vh;;
    margin-left: 5%;
    width: 90%;
  }
 }
 @media screen and (max-width:450px) {
  .tac{
  
    overflow: hidden;
    overflow-x: scroll;
   overflow-y: scroll;
   }
 }