.men {
    display: flex;
    flex-basis: 250px;
    width: 100%;
    height: 86vh;
    background: #FFFFFF;
  
  }
  .flex-containe{
    display: flex;
    flex-direction: row;
  }
  .log{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF8D7;
    opacity: 0.5;
    height: 72px;
    width: 250px;
  
  }
  .log p{
    font-family:sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #F1A240;
    align-items: center;
    justify-content: center;
  }
  .conten{
   
   width: 100%;
   height: 86vh;
   border-left: 2px solid rgb(202, 197, 197);
  
  }
 .min{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
 }
 .min1{
   
    border: 2px solid;
    border: transparent;
    border-bottom: 2px solid #8C93A3;;
  }
  
  .min1 p{
    display: flex;
    color: #F1A240; 
    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 24px; 
   
    align-items: center;
    justify-content: space-around;
    
  }
  .min2{
    border: 2px solid;
    border: transparent;
    border-bottom: 2px solid #F1A240;
   
  }
  .min2 p{
    display: flex;
    color: #F1A240; 
    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 24px; 
   
    align-items: center;
    justify-content: space-around;
  }
  .min3{
    border: 2px solid;
    border: transparent;
    border-bottom: 2px solid #8C93A3;;
     
  }
  .min3 p{
    display: flex;
    color: #F1A240; 
    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 24px; 
   
    align-items: center;
    justify-content: space-around;
  }
