.men {
    display: flex;
    flex-basis: 250px;
    width: 100%;
    height: 86vh;
    background: #FFFFFF;
  flex-direction: column;
  }
  .flex-containe{
    display: flex;
    flex-direction: row;
  }

  .conten{
   
   width: 100%;
   height: 86vh;
   border-left: 2px solid rgb(202, 197, 197);
   background-color: #DBDBDB;
  }
 .min{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
 }
 .min1{
   
    border: 2px solid;
    border: transparent;
    border-bottom: 2px solid #8C93A3;;
  }
  
  .min1 p{
    display: flex;
    color: #8C93A3;;
   
    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 24px; 
   
    align-items: center;
    justify-content: space-around;
    
  }
  .min2{
    border: 2px solid;
    border: transparent;
    border-bottom: 2px solid #F1A240;
   
  }
  .min2 p{
    display: flex;
    color: #F1A240; 
    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 24px; 
   
    align-items: center;
    justify-content: space-around;
  }
  .min3{
    border: 2px solid;
    border: transparent;
    border-bottom: 2px solid #8C93A3;;
     
  }
  .min3 p{
    display: flex;
    color: #8C93A3;;
   
    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 24px; 
   
    align-items: center;
    justify-content: space-around;
  }
  
  .dropdown button {
    display: flex;
    width: 250px;
    height: 72px;
    background: #FFF8D7;
    opacity: 0.5;
    font-family:sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #F1A240;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: transparent;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 16px 76px;
    text-decoration: none;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .nam{
    display: none;
  }
  .dropdown-content p{
    display: none;
  }
  @media screen and (max-width:840px) {
    .men{
     display: flex;
     width: 100%;
     flex-basis: 0px;
    
    }
    .conten{
      margin-left: 80px;
      width:90%;
      height: 100vh;
    }
    .nam{
     display: block;
      cursor: pointer;
      width: 30px;
      height: 30px;
      margin-left: 90%;
    }
   .flex-containe{
    display: flex;
    flex-direction: column;
   }
  .dropdown button{
   display: none;
  }
  .dropdown-content p{
  display: flex;
  margin-top: -20px;
  font-family:sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #F1A240;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: transparent;
   height: 72px;
  background: #FFF8D7;
  
  }
  .dropdown-content {
  width: 100%;
  height: 89vh;
  margin-top: -20px;
  align-items: center;
  justify-content: center;
  
  }
  
   .min{
    display: flex;
    flex-direction: column;
   
    
   }
   .min1{
   height: 30px;
   
   width: 100%;
   
   }
   .min1 p{
  margin-top:-2px ;
  color: #8C93A3;;
   
   }
   .min2{
    height: 30px;
    }
    .min2 p{
      margin-top:-2px ;
      color: #F1A240;
   
       }
    .min3{
      height: 30px;
      }
      .min3 p{
        margin-top:-2px ;
        color:  #8C93A3;;
         }
  }
  @media screen and (max-width:600px){
    .conten{
      width: 85%;
      height: 100vh;
    }
  }
  @media screen and (max-width:450px) {
    .conten{
      width: 80%;
      height: 100vh;
    }
  }