.me {
    display: flex;
    flex-basis: 250px;
    width: 100%;
    height: 86vh;
    background: #FFFFFF;
   flex-direction: column;
  
  }
  .flex-contain{
    display: flex;
    flex-direction: row;
  }
  .lo{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF8D7;
    opacity: 0.5;
    height: 72px;
    width: 250px;
  
  }
  .lo p{
    font-family:sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #F1A240;
    align-items: center;
    justify-content: center;
  }
  .conte{
   
   width: 100%;
   height: 86vh;
   border-left: 2px solid rgb(202, 197, 197);
   background-color: #DBDBDB;
  }
 .mi{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
 }
 .mi1{
   
    border: 2px solid;
    border: transparent;
    border-bottom: 2px solid  #8C93A3;;
  }
  
  .mi1 p{
    display: flex;
    color: #F1A240; 
    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 24px; 
   
    align-items: center;
    justify-content: space-around;
    
  }
  .mi2{
    border: 2px solid;
    border: transparent;
    border-bottom: 2px solid  #8C93A3;;
  }
  .mi2 p{
    display: flex;
    color: #F1A240; 
    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 24px; 
   
    align-items: center;
    justify-content: space-around;
  }
  .mi3{
    border: 2px solid;
    border: transparent;
    border-bottom: 2px solid #F1A240;
     
  }
  .mi3 p{
    display: flex;
    color: #F1A240; 
    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 24px; 
   
    align-items: center;
    justify-content: space-around;
  }
.route{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start
 
}
.route p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 500;
 line-height: 10px;

 
}
.ico{
  display: flex;
  align-items: center;
 
}
.dropdown button {
  display: flex;
  width: 250px;
  height: 72px;
  background: #FFF8D7;
  opacity: 0.5;
  font-family:sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #F1A240;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-con {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-con a {
  color: black;
  padding: 16px 76px;
  text-decoration: none;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.dropdown-con a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-con {
  display: block;
}
@media screen and (max-width:840px) {
  .me {
    display: flex;
    flex-basis: 72px;
    width: 100%;
    background: #ffffff;
  
  }
  .flex-contain{
    display: flex;
    flex-direction:column;
  }
  .dropdown button {
  
    display: flex;
    width: 100%;
    height: 72px;
    background: #FFF8D7;
    opacity: 0.5;
    font-family:sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #F1A240;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: transparent;
  }
  
  
}