@font-face {
  font-family:imported ;
  src: url(../font/Satoshi-Variable.ttf);
}
.header {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid  #DBDBDB;
    background-color: #FFFFFF;
  }
  .box{
    display: flex;
    align-items: center;
  }
  .box p{
    
    font-family:imported ;
   
    font-weight: 700; font-size: 20px;
   
  }
 @media screen and (max-width:840px) {
  
.header {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid  #DBDBDB;
  background-color: #ffffff;
}
 }
@media screen and (max-width:450px) {
  .header {
   
    height: 100px;
    width: 100%;
   
  }
}